@charset "UTF8";


* {
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

img {
    width: 40px;
}

input[type= "checkbox"]{
    display: none;
}

nav {
    background-color: rgba(16, 16, 16, 0.5);
    width: 250px;
    height: 100vh;
    left: -250px;
    position: absolute;
    transition: all .7s;
}
input[type="checkbox"]:checked ~ nav{
    transform: translateX(250px);
}

ul {
    list-style: none;
    position: absolute;
    top: 50px;
    width: 100%;
}

a {
    display: block;
    padding: 20px 5px;
    color: white;
    transition: 1s;
}

a:hover {
    background-color: rgba(176, 224, 230);
    color: black;

}

label{
    padding: 15px;
    position: absolute;
    z-index: 1;

}

