@charset "UTF-8";




.back .front  h1 {
    font-family: 'Titan One', cursive;
    font-size: 3.5em;
}

.back .front h2 {
    font-family: 'Titan One', cursive;
    font-size: 2.5em;
    font-style: oblique;
}

.back .front p {
    font-family: 'Titan One', cursive;
    font-size: 1.5em;
    font-style: oblique;
}
