@charset "utf-8";

* {
    padding: 0px;
    margin: 0px;   
}

root {
    --cor1:var(--cor1);
    --cor2:var(--cor1);
    --cor3:var(--cor1);
    --cor4:var(--cor1);
    --cor5:var(--cor1);
    --cor6:var(--cor1);
    --cor7:var(--cor1);

    --fonte-padrao:var(--cor1);
    --fonte-de-titulo:var(--cor1);
    --fonte-destaque:var(--cor1);
}

nav {
    text-align: center;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, purple);
    padding: 10px;
}
nav > a {
    margin-left: 5px;
    margin-right: 5px;
    color: rgba(255, 0, 208, 0.744);
    background-color: rgba(0, 255, 225, 0.181);
    padding: 0.5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
    border-radius: 3px;

}

nav > a:hover {
    background-color: white;
    text-decoration: underline;
    color: rgba(248, 0, 0, 0.52);
}

header section {
    padding-top: 50px;
    text-align: center;
    color: hsla(0, 0%, 100%, 0.459);
}

header h1 {
    font-size: 5em;
    text-shadow: 6px 6px 20px rgba(0, 0, 0, 0.748);

}

header h2 {
    font-size: 3em;
    text-shadow: 6px 6px 20px rgba(0, 0, 0, 0.748);

}
header > section > p {
    font-size: 1.3em;
    text-shadow: 6px 6px 20px rgba(0, 0, 0, 0.748);

}

body {
    background-color: rgba(0, 140, 255, 0.211);
}

section.secao1 {
    background-image: url(../img/logo-paisagem.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.608);
}
main {
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.608);
    min-width: 400;
    max-width: 700px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 6px 6px 6px 6px;
}
main section {
    background-color: white;
}
main section.capa1 {
    
    background-image: url(../img/foto-1-ex.jpg);
    max-width: 700px;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
}

main section.capa1  > h2 {
    font-size: 2.5em;
    text-align: left;
    color: hsl(33, 100%, 50%);
    padding-top: 50px;
    padding-left: 30px;
    padding-bottom: 55vh;
    background-color: rgba(0, 0, 0, 0.609);
}

main section.secao2 {
    background-color: #b7860b;
}

main section.secao2 > h2 {
    padding: 30px;
    font-size: 3.8vw;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.23);
    color: rgb(255, 0, 0);
    background-color: rgba(0, 0, 0, 0.172);
}
main section.secao2 > p {
    font-size: 3.5vw;
    text-shadow: 0.5px 0.5px 0px black;
    padding-bottom: 1em;
    color: hsla(0, 91%, 36%, 0.641);
    padding: 1em;

}