@charset "utf-8";

* {
    padding: 0px;
    margin: 0px;   
}




@font-face {
    font-family: 'Cinzel';
    src: url(../fonts/CinzelDecorative-Bold.otf)format('opentype');
    font-weight: bolder;
    font-style: normal;
}


:root {
    --letras: #af0808a3;
    --detalhes: #593100;
    --cor3: #8ac926;
    --azbb: #0c10ff89;
    --rsbb: #ed84d6;

    --destaque: 'Cinzel';
    --padrao: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--azbb);
}

nav {
    font-family: var(--padrao);
    font-size: 2vmax; 
    text-align: center;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, purple);
    padding: 10px;
}
nav > a {
    margin-left: 5px;
    margin-right: 5px;
    color: rgba(255, 0, 208, 0.744);
    background-color: rgba(0, 255, 225, 0.181);
    padding: 0.5px;
    text-decoration: none;
    font-weight: bolder;
    transition-duration: 0.5s;
    border-radius: 3px;


}

nav > a:hover {
    background-color: white;
    text-decoration: underline;
    color: rgba(248, 0, 0, 0.52);
}

header section {
    padding-top: 50px;
    text-align: center;
    color: hsla(0, 0%, 100%, 0.459);
}

header h1 {
    font-size: 15vw;
    text-shadow: 6px 6px 20px rgba(0, 0, 0, 0.748);

}

header h2 {
    font-size: 2.5em;
    text-shadow: 6px 6px 20px rgba(0, 0, 0, 0.748);

}
header > section > p {
    font-size: 1.3em;
    text-shadow: 6px 6px 20px rgba(0, 0, 0, 0.748);

}

section.secao1 {
    background-image: url(../img/logo-paisagem.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.608);
}


footer {
    font-family: var(--padrao);
    font-size: 1em;
    padding: 50px;
    color: white;
    background-color: rgb(0, 0, 0);
    text-align: center;
}
footer > img {
    width: 80vw;
}